<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebAPI - Template</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <nav>
                    <ul class="nav">
                        <li class="nav-item">
                            <a 
                                class="nav-link active" 
                                aria-current="page" 
                                href="#"
                            >
                                Web API
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/professores">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/alunos">Link</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Web API - Template</h1>
            </div>
        </div>
    </div> 
</body>
</html>